<?xml version="1.0" encoding="utf-8"?>
<plugin type='script'>
   <name>Amarok2 (NowPlaying)</name>
   <icon>amarok.png</icon>
   <comment>Shows status for Amarok2 with FITKit app 'display'.</comment>
   <author>Marek Vavruša</author>
   <email>marek@vavrusa.com</email>
   <version>0.1</version>
   <license>GNU/GPL</license>
   <library>amarok2</library>
</plugin>